.savedProjectContainer {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   grid-template-rows: repeat(2, minmax(100px, auto));
   gap: 25px;
}

.savedProject {
   cursor: pointer;
   display: flex;
   flex-direction: column;
   text-align: center;

   padding: 15px;
   background-color: #2b2d31;
   border-radius: 8px;
   border: 2px solid #2b2d31;

   transition-duration: 0.3s;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.savedProject:hover {
   border-color: rgb(70, 116, 210);
   box-shadow: rgba(70, 116, 210, 0.25) 0px 14px 28px, rgba(70, 116, 210, 0.22) 0px 10px 10px;
}

.savedProjectTitle {
   color: #fff;
   margin: 0px;
}

.savedProjectDescription {
   color: gray;
   margin: 0px;
}

.savedProjectTimestampContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 10px;
}
.savedProjectTimestamp {
   color: #777;
   margin: 0px;
   font-size: 12px;
}

.deleteButton {
   cursor: pointer;
   border: none;
   padding: 8px;
   width: 32px;
   height: 32px;
   background-color: rgb(209, 44, 44);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.3s;
   border-radius: 4px;
   font-size: 16px;
}
.deleteButton:hover {
   background-color: rgb(142, 32, 32);
}