.savedProjectContainer {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   grid-template-rows: repeat(2, minmax(100px, auto));
   gap: 25px;
}

.savedProject {
   cursor: pointer;
   display: flex;
   flex-direction: column;
   text-align: center;

   padding: 15px;
   background-color: #2b2d31;
   border-radius: 8px;
   border: 2px solid #2b2d31;

   transition-duration: 0.3s;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.savedProject:hover {
   border-color: rgb(70, 116, 210);
   box-shadow: rgba(70, 116, 210, 0.25) 0px 14px 28px, rgba(70, 116, 210, 0.22) 0px 10px 10px;
}

.savedProjectTitle {
   color: #fff;
}

.savedProjectDescription {
   color: black;
}