/* Workspace Layout */
.workspaceContainer {
	height: 100vh;
	display: flex;
}

/* Workspace Layout */
.workspace {
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* Grid Container (Fixed Size) */
.canvasContainer {
	position: relative;
	top: 0px;
	left: 0px; /* Adjust to keep aligned with ruler */
	width: 100vw;
	height: 100vh;
	background: #bbb;
	overflow: hidden;
}

/* Grid Canvas */
.gridCanvas {
	position: relative;
	top: 0px;
	left: 0px;
	transform-origin: top left;
	cursor: pointer;
}

/* Left Side: Canvas */
.canvasArea {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: none;
}

/* Sidebar Content */
.sidebarContent {
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

/* Inputs */
.sidebarInputField {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* Back Button */
.backButton {
	margin-top: 15px;
	padding: 10px;
	background: red;
	color: white;
	border: none;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

/* 🔥 Grid Crosshair at (0,0) */
.gridCenterCrosshair {
	position: absolute;
	width: 2px;
	height: 2px;
	transform: translate(-50%, -50%);
}

/* Resizer Handle (Between Canvas & Sidebar) */
.resizer {
	width: 5px;
	background: #353535;
	cursor: ew-resize;
	transition: background 0.2s ease;
	z-index: 51;
}

/* Hover Effect for Better Visibility */
.resizer:hover {
	background: #505050;
}

.LeftButtonsContainer,
.RightButtonsContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	width: fit-content;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.LeftButtonsContainer {
	left: 0;
}
.RightButtonsContainer {
	right: 0;
}

.LeftButtonsContainer > button,
.RightButtonsContainer > button {
	margin-bottom: 10px;
}

.toolbar {
	z-index: 100;
	display: grid;
	grid-gap: 10px;
	justify-content: space-between;
	margin-bottom: 10px;
}

.toolbarButton {
	background-color: #1d1f23;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	padding: 8px;
	color: white;
	border: none;
	cursor: pointer;
	transition: background 0.3s ease;
	border-radius: 5px;
	font-size: 14px;
	z-index: 50;
	flex: 1;
	font-weight: bold;
}
.toolbarButton:hover {
	background-color: #2d2f33;
	color: white;
}
.toolbarButton.active {
	background-color: #2d89ef;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.negativeButton {
	background: #ff4d4d;
	transition: background 0.2s ease;
}
.negativeButton:hover {
	background: #cc0000;
	color: white;
}

/* 🔥 Floating "Blueprint Editor" Button */
.blueprintEditorButton {
	top: 60px; /* 🔥 Below Project Settings */
	right: 20px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	border: none;
	padding: 8px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	transition: background 0.3s ease;
	z-index: 50;
	width: 160px;
	height: 32px;
}

/* 🔥 Sidebar */
.sidebar {
	width: 300px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	transition: width 0.2s ease;
	z-index: 50;
	position: relative;
}

/* 🔥 Close Sidebar Button */
.closeSidebarButton {
	background: #ff4d4d;
	color: white;
	border: none;
	padding: 8px 12px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
	align-self: flex-end;
	margin-bottom: 10px;
	transition: background 0.2s ease;
}

/* 🔥 Hover Effect */
.closeSidebarButton:hover {
	background: #cc0000;
}

/* 🔥 Add Wall Button */
.addWallButton {
	background: #2d89ef;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
	width: 100%;
	margin-top: 10px;
	transition: background 0.2s ease;
}

/* 🔥 Hover Effect */
.addWallButton:hover {
	background: #1d5dbf;
}

.canvasOverlayButton {
	background-color: #1d1f23;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	padding: 8px;
	color: white;
	border: none;
	cursor: pointer;
	transition: background 0.3s ease;
	border-radius: 5px;
	font-size: 14px;
	z-index: 50;
}
.canvasOverlayButton:hover {
	background-color: #2d2f33;
}

/* Floating "Canvas Overlay" Button */
.canvasSidebarButton {
	top: 20px;
	right: 20px;
	width: 160px;
	height: 32px;
}

.canvasToggleButtons {
	position: absolute;
	bottom: 40px;
	right: 10px;
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	z-index: 100;
}

.node {
	position: absolute;
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.upperBottomContainer {
	position: absolute;
	bottom: 75px;
	left: 0;
	width: fit-content;
	display: flex;
	flex-direction: row;
	padding: 10px;
	gap: 10px;
}

.bottomContainer {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: fit-content;
	display: flex;
	flex-direction: row;
	padding: 10px;
	gap: 10px;
}
